/* your theme's styles */
body {
	padding:0;
	margin:0;
}

/*This formatting is for the  name of the fields in the pop-up*/
span.varname{
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	color: #363535;
}

/*This is formatting for the text that follows the label*/
span.attribute {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: #5b5b5b;
	margin-top: 0;
    margin-bottom: 0;
}

/*This is formatting for the text that appears in the 'on hover' popup for charter schools*/

.mapboxgl-popup-content {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: #5b5b5b;
	margin-top: 0;
    margin-bottom: 0;
}

/*This changes the size of the image in the popup*/
img {
	max-height:  100%;
	max-width:  100%;
}

img.charter {
	display: block;
	text-align: center;
}

.mapboxgl-popup-content {
	max-width: 300px;
}

.zoom {
	background-color: #ffffff;
	opacity:.8;
	border: 1px solid #989797;
	width: 225px;
	text-align: left;
	padding: 10px;
    position: fixed;
	z-index : 1;
    left: 0;
	bottom: 0;
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-weight: normal;
	color: #363635;
	text-decoration: none;
	margin-right: 10px;
	margin-bottom: 20px;
	overflow: hidden; /*planning ahead to clear floats*/
}

.legend {
	background-color: #ffffff;
	opacity:.8;
	border: 1px solid #989797;
	width: 225px;
	text-align: left;
	padding: 10px;
    position: fixed;
	z-index : 1;
    right: 0;
	bottom: 0;
	font-family: "Montserrat", helvetica, arial, sans-serif;
	font-weight: normal;
	color: #363635;
	text-decoration: none;
	margin-right: 10px;
	margin-bottom: 20px;
	overflow: hidden; /*planning ahead to clear floats*/
}

ul{
	list-style-type:none;
	font-size:
}

.legend-title {
	position:relative;
	bottom:0;
	right:0;
    text-align: left;
    margin-bottom: 5px;
	padding: 0px 0px 8px 0px;
	font-family: "Montserrat", helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 90%;
    }
.legend-subtitle {
	position:relative;
	bottom:0;
	right:0;
    text-align: left;
    margin-bottom: 5px;
	font-family: "Montserrat", helvetica, arial, sans-serif;
    font-style: italic;
    font-size: 75%;
    }	

ul{
	list-style-type:none;
	font-size:
}

.legend-title {
	position:relative;
	bottom:0;
	right:0;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none; 
    }
  .legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 12px;
    width: 24px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .legend .legend-source {
    width: 175 px;
	font-size: 70%;
	margin-right: 20px;
    color: #999;
    clear: both;
    }
	
  .legend .map-credit {
    font-size: 70%;
    color: #999;
    clear: both;
    }
	
  .legend a {
    color: #777;
    }
	
	a:link {
    text-decoration: none;
}

	.inactive {
		opacity: 0.25;
	}

#raising_blended_learners
{
	background:url(../markers/raising_blended_learners.svg) left center;
	width:14px;
	height:12px;
	display: block;
	float: left;
}
#raising_blended_learners_campuses
{
	background:url(../markers/raising_blended_learners_campuses.svg) left center;
	width:14px;
	height:12px;
	display: block;
	float: left;
}
#raising_family_partnerships
{
	background:url(../markers/raising_family_partnerships.svg) left center;
	width:14px;
	height:14px;
	display: block;
	float: left;
}
#charles_butt_scholars
{
	background:url(../markers/charles_butt_scholars.svg) left center;
	width:14px;
	height:14px;
	display: block;
	float: left;
}
#raising_texas_teachers
{
	background:url(../markers/raising_texas_teachers.svg) left center;
	width:14px;
	height:14px;
	display: block;
	float: left;
}
#raising_school_leaders
{
	background:url(../markers/raising_school_leaders.svg) left center;
	width:14px;
	height:14px;
	display: block;
	float: left;
}
#districts_of_innovation
{
	background:url(../markers/districts_of_innovation.svg) left center;
	width:14px;
	height:14px;
	display: block;
	float: left;
}
#texas_districts_1882_poly
{
	background:url(../markers/texas_districts_1882_poly_fill.svg) left center;
	width:11px;
	height:16px;
	display: block;
	float: left;
}
#raising_blended_learners_districts_poly
{
	background:url(../markers/raising_blended_learners_districts_poly.svg) left center;
	width:11px;
	height:16px;
	display: block;
	float: left;
}
#districts_of_innovation_poly
{
	background:url(../markers/districts_of_innovation_poly.svg) left center;
	width:11px;
	height:16px;
	display: block;
	float: left;
}
#texas_school_districts
{
	background:url(../markers/texas_school_districts.svg) left center;
	width:11px;
	height:16px;
	display: block;
	float: left;
}
#state_house_districts
{
	background:url(../markers/state_house_districts.svg) left center;
	width:11px;
	height:16px;
	display: block;
	float: left;
}
#state_senate_districts
{
	background:url(../markers/state_senate_districts.svg) left center;
	width:11px;
	height:16px;
	display: block;
	float: left;
}

  .legend .map-credit {
    font-size: 70%;
    color: #999;
    clear: both;
    }

  .legend a {
    color: #777;
    }

	a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* Use this to style the 'Zoom to Districts' pop-out */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffff;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 60px;*/
}

/*.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    display: block;
    transition: 0.3s
}*/

p.navtitle {
    padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
	font-weight: bold;
    color: #b1d4cb;
    display: block;
    transition: 0.3s
}

p.moreinfo  {
  padding: 8px 8px 8px 32px;
  background: #ffff;
  color:#4a4a4a;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size:14px;
 /* width:auto !important;*/
  }

.sidenav a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ee5e2a;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 28px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
}

#about {
	/*transition: margin-left .5s;
    padding: 16px;*/
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #ffff;
	filter: alpha(opacity = 0);
    position:fixed;
	padding:5px 5px 5px 5px;
	left:20px;
	top:20px;
    display:block;
    z-index:2;
    background:#ee5e2a;
	overflow: auto;
}

.mapboxgl-ctrl-bottom-right {
    bottom: 0;
    right: 0;
	margin-right: 10px;
	margin-bottom: 0px;
}

.mapbox-improve-map {
    display: none;
}
